/* Стилизация шапки */
.header_white {
  background-color: var(--white);
}

.header_grey {
  background-color: var(--grey-5);
}

.header__title {
  font-size: 50px;
  font-weight: 500;
  padding: 40px 0;
}
