<!-- Страница сайдбара -->
<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="../../assets/css/main.css" />
  </head>
  <body>
    <sidebar class="sidebar">
      <section class="sidebar__block">
        <h4 class="sidebar__title">Title</h4>
        <ul class="sidebar__list">
          <li class="sidebar__link">Custom form</li>
          <li class="sidebar__link">Avatar</li>
          <li class="sidebar__link">Button</li>
        </ul>
      </section>

      <section class="sidebar__block">
        <h4 class="sidebar__title">Title</h4>
        <ul class="sidebar__list">
          <li class="sidebar__link">Custom form</li>
          <li class="sidebar__link">Avatar</li>
          <li class="sidebar__link">Button</li>
        </ul>
      </section>

      <section class="sidebar__block">
        <h4 class="sidebar__title">Title</h4>
        <ul class="sidebar__list">
          <li class="sidebar__link">Custom form</li>
          <li class="sidebar__link">Avatar</li>
          <li class="sidebar__link">Button</li>
        </ul>
      </section>
    </sidebar>
  </body>
</html>
