<!-- Комонент карточка -->
<!-- Страница подвала -->
<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="../../assets/css/main.css" />
      <link rel="stylesheet" href="./card.css" />
      <style>
        body {
          padding: 20px 50px;
          background: var(--grey-5);
        }
      </style>
  </head>
  <body>
    <div class="card">
      <!-- <div class="histogram">
          <div class="histogram__header">
            <section>
              <p class="histogram__title">Total orders</p>
              <h4 class="histogram__score">50254</h4>
            </section>
            <p class="histogram__link">View all</p>
          </div>
          <div class="histogram__chart">
            <span class="histogram__bar" style="height: 100%"></span>
            <span class="histogram__bar" style="height: 84%"></span>
            <span class="histogram__bar" style="height: 28%"></span>
            <span class="histogram__bar" style="height: 52%"></span>
            <span class="histogram__bar" style="height: 75%"></span>
            <span class="histogram__bar" style="height: 45%"></span>
            <span class="histogram__bar" style="height: 100%"></span>
            <span class="histogram__bar" style="height: 26%"></span>
            <span class="histogram__bar" style="height: 59%"></span>
            <span class="histogram__bar" style="height: 97%"></span>
            <span class="histogram__bar" style="height: 4%"></span>
            <span class="histogram__bar" style="height: 8%"></span>
            <span class="histogram__bar" style="height: 49%"></span>
            <span class="histogram__bar" style="height: 2%"></span>
            <span class="histogram__bar" style="height: 36%"></span>
            <span class="histogram__bar" style="height: 44%"></span>
            <span class="histogram__bar" style="height: 100%"></span>
            <span class="histogram__bar" style="height: 4%"></span>
            <span class="histogram__bar" style="height: 53%"></span>
            <span class="histogram__bar" style="height: 73%"></span>
            <span class="histogram__bar" style="height: 89%"></span>
            <span class="histogram__bar" style="height: 91%"></span>
            <span class="histogram__bar" style="height: 29%"></span>
            <span class="histogram__bar" style="height: 100%"></span>
            <span class="histogram__bar" style="height: 58%"></span>
            <span class="histogram__bar" style="height: 22%"></span>
            <span class="histogram__bar" style="height: 100%"></span>
            <span class="histogram__bar" style="height: 36%"></span>
            <span class="histogram__bar" style="height: 7%"></span>
            <span class="histogram__bar" style="height: 5%"></span>
          </div>
        </div> -->
      <div class="card__info">
        <div class="card__content"></div>
        <div class="card__info">
          <h3 class="card__title">Title</h3>
          <p class="card__subtitle">Subtitle</p>
        </div>
      </div>
    </div>
  </body>
</html>
