/* Стилизация карточки */
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
  text-align: center;
}

.card_wide {
  grid-column: auto;
}

.card__content {
  flex-grow: 1;
  padding: 24px;
  display: grid;
  align-items: center;
}

.card__info {
  padding: 12px 0 24px;
  border-top: 1px solid var(--grey-2);
}

.card__title {
  margin-bottom: 6px;
}

@media screen and (min-width: 400px) {
  .card_wide {
    grid-column: 1 / span 2;
  }
}

@media screen and (min-width: 670px) {
  .card_wide {
    grid-column: auto;
  }
}

@media screen and (min-width: 1110px) {
  .card_wide {
    grid-column: auto;
  }

  .card__content {
    padding: 32px;
  }

  .card__info {
    border-top: none;
  }
}
