.skeleton {
  border: $bb $grey-3;
  border-radius: 8px;
  padding: 24px;

  &__flexBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
  }

  &__avatar {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: $grey-2;
    margin-right: 16px;
    flex-shrink: 0;
  }

  &__top-bar-section {
    width: 100%;
  }

  &__bar {
    background: linear-gradient(
      92.51deg,
      #DDE2E5 6.44%,
      #E2E6E8 38.47%,
      #F3F5F5 56.48%,
      #E3E7EA 77.5%,
      #DDE2E5 102.52%
    );
    height: 20px;
    margin-bottom: 8px;

    &_width-s {
      width: 30%;
    }

    &_width-m {
      width: 50%;
    }

    &_width-l {
      width: 80%;
    }

    &_width-xl {
      width: 100%;
    }
  }
}
