body {
  margin: 0;
  padding: 0 10em;
  font-family: 'PT Serif', serif;
}

h1, h2, ul, ol {
  margin: 0;
}

a {
    margin-right: 2em;
}

main {
  background-color: #A6BF4B;
  padding: 1em 0.5em;
}

header, footer {
  background-color: #F2C53D;
  text-align: center;
}

nav {
  background-color: #F2F0D5;
  text-align: center;
}

article {
  background-color: #668C4A;
  padding: 0.3em;
  margin-bottom: 1em;
}
