/* Стилизация главной страницы */
/* MOBILE */
.main__preview {
  display: grid;
  grid-auto-rows: 1fr;
  justify-content: center;
  grid-auto-flow: dense;

  grid-template-columns: 1fr;
  gap: 16px;
  padding: 24px 0;
}

.page__box {
  margin: 0 16px;
}

.card_wide {
  grid-column: auto;
}

/* TABLET */
@media screen and (min-width: 400px) {
  .main__preview {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .card_wide {
    grid-column: 1 / span 2;
  }
}

/* WIDE TABLET */
@media screen and (min-width: 670px) {
  .card_wide {
    grid-column: auto;
  }
}

/* DESKTOP */
@media screen and (min-width: 1110px) {
  .main__preview {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 64px 0;
  }

  .page__box {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
  }

  .card_wide {
    grid-column: auto;
  }
}
