$white:     #fff;
$black:     #212429;
$pink:      #F784AD;
$purple-1:  #7048E8;
$purple-2:  #5028C6;
$blue-1:    #4263EB;
$blue-2:    #2342C0;
$blue-3:    #334D6E;
$blue-4:    #ECEFFD;
$red:       #F03D3E;
$grey-1:    #F8F9FA;
$grey-2:    #DDE2E5;
$grey-3:    #ACB5BD;
$grey-4:    #495057;
$grey-5:    #F9FAFC;
$grey-6:    #90A0B7;
$grey-7:    rgba(102, 102, 102, 0.5);
$grey-8:    #212429;

$error: $red;
$success: $blue-1;

$primary: $blue-1;
$primary-hover: $blue-2;
$secondary: $purple-1;
$secondary-hover: $purple-2;

$bf-inter: 'Inter', 'Roboto', sans-serif; /* base-font-... */
$bf-roboto: 'Roboto', 'Inter', sans-serif;

$bb: 1px solid; /* border-base */

@import './reset.css';
@import '../fonts/fonts.css';

@import '../../components/page/page.scss';
@import '../../components/template/template.scss';
@import '../../components/header/header.scss';
@import '../../components/main_section/main_section.scss';
@import '../../components/footer/footer.scss';

@import '../../components/sidebar/sidebar.scss';
@import '../../components/histogram/histogram.scss';
@import '../../components/card/card.scss';
@import '../../components/component_preview/component_preview.scss';
@import '../../components/tooltip/tooltip.scss';
@import '../../components/calendar/calendar.scss';
@import '../../components/avatar/avatar.scss';
@import '../../components/button/button.scss';
@import '../../components/modal/modal.scss';
@import '../../components/accordion/accordion.scss';
@import '../../components/skeleton/skeleton.scss';
@import '../../components/logo/logo.scss';
@import '../../components/tabs/tabs.scss';

* {
    font-family: $bf-inter;
    box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: inherit;
}
