<!-- Страница подвала -->
<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="../../assets/css/main.css" />
      <link rel="stylesheet" href="./footer.css" />
  </head>
  <body>
    <footer class="footer_white">
        <section class="footer__info">
          <h5 class="footer__title">About</h5>
          <p class="footer__text">
            This project is a collection of
            professionally designed, pre-built,
            fully responsive HTML snippets you
            can drop into your projects. Get
            started by checking out our free
            preview components, or browsing the
            PNG previews in the categories you're
            most curious about.
          </p>
        </section>
    </footer>
    <footer class="footer_grey">
        <h5 class="footer__subtitle">reusable component library</h5>
    </footer>
  </body>
</html>
