/* Стилизация подвала */
.footer {
  background-color: var(--white);
}

.footer__title {
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  margin: 71px auto 32px;
}

.footer__content {
  width: 640px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto 136px;
}
